:root {
  --color-primary: #f09236;
  --color-primary-dark: #dc7245;
  --color-secondary-dark: #1c2335;
  --color-grey-dark: #333333;
  --color-grey-light: #c0c5c1;
  --color-offwhite: #fafafa;
  --color-offblack: #222222;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
/* 
footer {
  width: calc(100vw - 200px);
  height: 100px;
  margin: 100px 0 0 0;
  padding: 0 100px 0 100px;
  background-color: var(--grey-accent);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p,
footer a {
  color: white;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
}

footer a:hover {
  color: var(--primary-color);
  cursor: pointer;
} */
